//Edit this with your real credentials!

#define SECRET_SSID "SSID"
#define SECRET_PW "PASSWORD"
#define OPENWEATHERMAPKEY "OPENWEATHERMAPAPIKEY"

#define LATITUDE  "LATITUDE"
#define LONGDITUDE "LONGDITUDE"

#define GMTOFFSET 0 //timezone offset from gmt in seconds
#define DAYLIGHTOFFSET 0 //timezone offset from gmt in seconds during daylight saving